<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" href="/styles.css"/>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>Document</title>
    </head>
    <body>
        <div class="main-content">
            <form method="POST"  th:object="${Test}">

                <div class="card" th:each="i : ${#numbers.sequence( 0, Test.getQuestions().size()-1)}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${Test.getQuestions().get(i).getDescription()}"></h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:utext="${Test.getQuestions().get(i).getCodeSnippet()}"></h6>
                        <div class="card-text" th:each="j : ${#numbers.sequence( 0, Test.getQuestions().get(i).getAnswers().size()-1)}">

                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked="false"/>
                            <label class="form-check-label" for="exampleRadios1" th:text="${Test.getQuestions().get(i).getAnswers().get(j).getAnswer()}">
                            </label>

                        </div>
                    </div>
                </div>

            </form>

        </div>
    </body>
</html>



